<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous" ></link>

    <title>Hello, world!</title>
</head>
<body>

<form id="main">
</form>
<!-- 
<form:form modelAttribute="dynamicform" id="main" name="main" method="post">
		<form:hidden path="form" name="form" id="form" />
	</form:form> -->

<script id="mainTmpl" type="text/x-jsrender">
    <h1>{{:name}}</h1>
  {{for groups}}
    <h2>{{:name}}</h2>
    <div class="form-group">
      {{for fields}}
        {{include tmpl='#'+type.type+'Tmpl'/}}
      {{/for}}
    </div>
  {{/for}}
</script>


<script id="inputTmpl" type="text/x-jsrender">
<label for="">{{:fname}}</label>
<input type="{{:type.subtype}}" class="form-control" id="formGroupExampleInput2" placeholder="Another input" value="{{:fvalue}}">
</script>

<script id="buttonTmpl" type="text/x-jsrender">
<button>{{:fname}}</button>
</script>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<script src="../js/dynamicform.js" /></script>
</body>
</html>